Q.1

In [2]:
import pandas as pd

In [17]:
#Pandas Series

s = pd.Series([4,8,15,16,23,42])
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q.2

In [19]:
l = [2,5,6,1,8,6,4,9,2,3]

s1 = pd.Series(l)
s1

0    2
1    5
2    6
3    1
4    8
5    6
6    4
7    9
8    2
9    3
dtype: int64

Q.3

In [25]:
dict = {
    'Name': ['Alice', 'Bob','Claire'],
    'Age' : [25,30,27],
    'Gender':['Female','Male','Female']
}

s2 = pd.DataFrame(dict)
s2

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q.4

DataFrame : DataFrame is two dimensional data structure with rows and columns.

Series : Series is One-dimensional labeled Array.

Ex.,

In [27]:
d = {
    'Name' : ['Ramesh', 'mahesh', 'Umesh'],
    'Mobile no.' : [9877685987, 7688546598, 6775890687],
    'email' : ['ramesg@gmail.com', 'mahesh@gmail.com', 'umesh@gmail.com']
}

#DataFrame
s3 = pd.DataFrame(d)
s3

#Series
s3['email']

0    ramesg@gmail.com
1    mahesh@gmail.com
2     umesh@gmail.com
Name: email, dtype: object

Q.5

Common functions use to manipulate data in Pandas DataFrame :

    1. head()
    2. tail()
    3. drop()
    4. loc and iloc
    5. describe()
    6. grou

In [ ]:
#Demontration of function
#1 head()
df = pd.read_csv('xyz.csv')
df.head()

#2 drop()
df.drop(columns='Age')

#3 groupby()
df.groupby('Age').mean()

Q.6

DataFrame and Panel are Mutable in Nature

Q.7

In [3]:
#Here are the Data in list
l1 = ['Vishal', 'Sagar', 'Nikhil']
l2 = [22,33,43]
l3 = ['vishal@gmail.com', 'sagar@gmail.com', 'nikhil@gmail.com']

#we are passing list data in series
Name = pd.Series(l1)
Id = pd.Series(l2)
Email = pd.Series(l3)

dict = {
    'Id' : Id, 
    'Name' : Name,
    'Eamil' : Email
}

#converting series data into a DataFrame
pd.DataFrame(dict)

   Id    Name             Eamil
0  22  Vishal  vishal@gmail.com
1  33   Sagar   sagar@gmail.com
2  43  Nikhil  nikhil@gmail.com